$lightGray: rgba(245, 247, 249, 0.947);
$gray: rgb(175, 169, 169);
$darkGray: rgb(138, 134, 134);
$darkGreen: rgb(56, 118, 107);

:global(body) {
  margin: 0px;
  box-sizing: border-box;
}

.app {
  margin: 0px;
}
.flexWrap {
  display: flex;
  justify-content: space-between;
  height: 75px;
}
.icon {
  margin: 8px;
  margin-left: 50px;
  border: none;
  display: flex;
  width: 260px;
  align-items: center;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
.icon div {
  font-size: 30px;
  margin-left: 10px;
}

.icon img {
  width: 60px;
}
nav {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 75px;
  transition: top 0.4s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.active {
  transition: top 0.4s ease-in-out;
  top: 0px;
}
.hide {
  transition: top 0.4s ease-in-out;
  top: -78px;
}

///navbar

$pi: 3.14;

//config
$menu-items: 3;
$open-distance: 105px;
$opening-angle: $pi * 2;

%goo {
  filter: url("#shadowed-goo");
  text-align: center;
}
%ball {
  background: $darkGreen;
  border-radius: 100%;
  width: 3.5rem;
  height: 55px;
  position: absolute;
  top: 10px;
  right: 30px;
  margin-right: 20px;
  color: white;
  text-align: center;
  line-height: 58px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
.menu-open {
  display: none;
}
.menu-item {
  @extend %ball;
  display: inline-block;
  transition: 1s all cubic-bezier(0.46, 1, 0.23, 0.92);
}
.hamburger {
  $width: 25px;
  $height: 3px;
  width: $width;
  height: $height;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}
$hamburger-spacing: 8px;
.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}
.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
.menu {
  @extend %goo;
  box-shadow: 0 0 0 !important;
  font-size: 25px;
  text-align: left;
}

.menu-item {
  &:hover {
    width: 8rem;
    border-radius: 30px;
    right: 0px;
    overflow: hidden;
    // animation-name: open;
    &:after {
      content: attr(data-title);
      color: white;
      z-index: 10;
      margin-left: 5px;
    }
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %ball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms+ (100ms * $i);
      transform: translate3d(-(125px * $i), 0, 0);
    }
  }
}

///loading
.loading {
  $colors: #dad7cd, #a3b18a, #588157, #3a5a40, #344e41;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  position: absolute;
  justify-content: center;
  align-items: center;
  .dot {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0.8em;
    border-radius: 50%;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: inherit;
      animation: wave 2s ease-out infinite;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background: nth($colors, $i);

        &::before {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}

/// alert
@mixin alertComponent() {
  width: 330px;
  height: 100px;
  background-color: $lightGray;
  z-index: 1000;
  position: absolute;
  top: 30%;
  right: 40%;
  align-items: center;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  display: none;
  svg {
    font-size: 50px;
    color: $darkGreen;
    margin: 20px;
  }
}
.alert {
  @include alertComponent;
}
.mobileNav {
  display: none;
}

/// RWD
@media (max-width: 450px) {
  .active {
    transition: top 0.4s ease-in-out;
    top: 0px;
  }
  .hide {
    transition: top 0.4s ease-in-out;
    top: 0px;
  }
  .flexWrap {
    .icon {
      width: 100%;
    }
    svg {
      display: none;
    }
  }
  .menu {
    display: none;
  }
  .mobileNav {
    z-index: 200;
    a {
      border: 1px solid white;
      padding: 3px 8%;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
    a:link,
    a:visited {
      color: white;
    }
    a:hover {
      background-color: $darkGreen;
    }
    svg {
      margin-right: 8px;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 75px;
    width: 100%;
    height: 40px;
  }

  .alert {
    display: flex;
    right: 5%;
  }
}
