$lightGray: rgba(245, 247, 249, 0.947);
$gray: rgb(175, 169, 169);
$darkGray: rgb(138, 134, 134);
$darkGreen: rgba(43, 92, 83, 0.796);

.locationAll {
  display: flex;
  position: relative;
  background-color: white;
}

.right {
  width: 38%;
  position: fixed;
  top: 0px;
  right: 0;
}
.left {
  width: 60%;
  margin: 10px;
  margin-top: 70px;
}
//banner
.banner {
  height: 200px;
  overflow: hidden;
  margin: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
.bannerName {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: white;
  font-size: 50px;
}
.bannerDes {
  position: absolute;
  top: 160px;
  left: 10px;
  z-index: 1;
  color: white;
  font-size: 20px;
}
.bannerPhoto {
  width: 100%;
  position: absolute;
  z-index: 0;
}

/////navbar
.navBar {
  // color: white;
  z-index: 100;
  position: fixed;
  top: -30px;
  right: 40%;
  font-size: 30px;
  cursor: pointer;
}
.navBarList {
  // color: white;
  z-index: 100;
  position: fixed;
  top: 17px;
  right: 45%;
  display: flex;
  font-size: 20px;
}
.navBarList a {
  margin: 10px;
  border: none;
  cursor: pointer;
}

//show
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 13px;
  font-size: 20px;
  color: $darkGray;
}
.locationInput {
  margin: 10px;
  color: $gray;
}
.location {
  width: 100%;
}
.locationShow {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.titleShow {
  margin-left: 10px;
  margin-top: 20px;
  color: $darkGray;
}
.itemCardName {
  margin: 4px 0 0 0;
  color: $darkGray;
}
.item {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  position: relative;
  &:hover {
    border: none;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
    .itemPhoto {
      width: 105%;
    }
  }
}

.itemSelect {
  width: 835px;
  height: 300px;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  display: flex;
  // cursor: pointer;
}

.selectDetail {
  margin: 20px;
  width: 100%;
  overflow: scroll;
  color: $darkGray;
  svg {
    margin-right: 10px;
  }
}
.itemName {
  font-size: 20px;
  margin: 0 0 5px 0;
  font-weight: 500;
  color: $darkGreen;
}
.itemPhoto {
  width: 100%;
  height: 100px;
  object-fit: cover;
  transition: width 0.5s;
}
.itemSelectPhoto {
  height: 100%;
  width: 300px;
  object-fit: cover;
}
@mixin likeComponent($fillColor, $opacity, $show) {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: rgb(128, 128, 128);
  stroke-width: 2px;
  fill: $fillColor;
  fill-opacity: $opacity;
  display: $show;
}
.redLike {
  @include likeComponent(rgb(255, 128, 191), 1, block);
}
.grayLike {
  @include likeComponent(rgb(255, 255, 255), 0.8, block);
}
.hideLike {
  @include likeComponent(rgb(255, 255, 255), 0.3, none);
}
.itemTitle {
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  svg {
    color: $darkGreen;
    font-size: 17px;
  }
}
.itemComment {
  font-size: 14px;
  margin: 10px 0;
}

//map
.marker {
  font-size: 30px;
}

//navbar
.icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.icon1 span:nth-child(1) {
  top: 0px;
}

.icon1 span:nth-child(2) {
  top: 18px;
}

.icon1 span:nth-child(3) {
  top: 36px;
}

.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

///star
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt;
}
.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

.itemOpenTime {
  white-space: pre-line;
}

///RWD
@media (max-width: 1450px) {
  .item {
    width: 200px;
  }
  .itemSelect {
    width: 680px;
  }
}
@media (max-width: 1200px) {
  .item {
    width: 150px;
  }
  .itemSelect {
    width: 530px;
  }
  .left {
    margin-top: 100px;
  }
}

@media (max-width: 450px) {
  .left {
    margin: 117px 0 0 0;
    width: 100%;
    height: 50vh;
    overflow: scroll;
    z-index: 3;
    background-color: white;
  }
  .right {
    width: 100%;
    top: 35vh;
    position: fixed;
    overflow: hidden;
  }
  .title {
    font-size: 15px;
    margin: 5px 13px;
  }
  .locationInput {
    font-size: 15px;
  }
  .banner {
    margin-top: 13px;
    height: 140px;
    .bannerName {
      top: 20px;
      left: 20px;
      font-size: 30px;
    }
    .bannerDes {
      top: 100px;
      left: 20px;
      font-size: 20px;
    }
  }
  .item {
    width: 110px;
    height: 100px;
    margin: 7px;
    img {
      height: 60px;
    }
    .itemCardName {
      font-size: 6px;
    }
    .ratings {
      .empty-stars:before,
      .full-stars:before {
        content: "\2605\2605\2605\2605\2605";
        font-size: 9pt;
      }
    }
  }
  .itemSelect {
    height: 150px;
    width: 450px;
    img {
      width: 120px;
    }
    .selectDetail {
      margin: 11px;
      .itemName {
        font-size: 12px;
        margin: 0;
      }
      .ratings {
        .empty-stars:before,
        .full-stars:before {
          content: "\2605\2605\2605\2605\2605";
          font-size: 9pt;
        }
      }
      .itemTitle {
        font-size: 8px;
        svg {
          font-size: 10px;
        }
      }
      .itemComment {
        font-size: 7px;
        margin: 1px 0;
      }
    }
  }
}
