.locationAll {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  justify-content: center;
}
.navBar {
  color: white;
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 50px;
  font-size: 30px;
  cursor: pointer;
}
.navBarList {
  color: white;
  z-index: 100;
  position: fixed;
  top: 37px;
  left: 120px;
  display: flex;
  font-size: 20px;
}
.navBarList div {
  margin: 10px;
  cursor: pointer;
}

.banner {
  position: absolute;
  z-index: 0;
  top: 0;
  height: 90%;
  width: 100%;
  background-image: url(../image/Northern.jpg),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  mask-image: linear-gradient(to top right, transparent 49.5%, white 50.5%),
    linear-gradient(to top left, transparent 49.5%, white 50.5%),
    linear-gradient(white, white);
  mask-size: 75% 25%, 25% 25%, 100% 75%;
  mask-position: bottom left, bottom right, top left;
  mask-repeat: no-repeat;
  // background-position: bottom right, left;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: rgb(255, 255, 255);
  letter-spacing: 30px;
  font-size: 100px;
  margin-top: 150px;
  margin-bottom: 80px;
  z-index: 1;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
.locationInput {
  width: 80%;
  align-self: center;
  margin-bottom: 100px;
  border: 3px solid black;
  border-radius: 5px;
}

//show

.location {
  // text-align: center;
  display: flex;
  justify-content: center;
}
.locationShow {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 1100px;
}

.titleShow {
  font-size: 30px;
}
.item {
  width: 350px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.itemPhoto {
  width: 300px;
  height: 180px;
  border: 3px solid black;
  margin-bottom: 40px;
}
.itemName {
  position: absolute;
  top: 20px;
  left: 50px;
  color: white;
  font-size: 25px;
}
.itemDescription {
  position: absolute;
  top: 150px;
  left: 50px;
  color: white;
  font-size: 11px;
}

/////////
