@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
$lightGray: rgba(245, 247, 249, 0.947);
$gray: rgb(175, 169, 169);
$darkGray: rgb(138, 134, 134);
$darkGreen: rgba(43, 92, 83, 0.796);
$lineGray: rgb(235, 229, 229);

input,
button {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
.profile {
  // width: 100vh;
  // height: calc(100vh - 80px);
  overflow: scroll;
  height: 100vh;
  background-color: $lightGray;
  padding-top: 10%;
}
.wrap {
  width: 80%;
  max-width: 1300px;
  margin: auto;
  display: flex;
}
.profileLeft {
  width: 25%;
  min-width: 280px;
  padding: 0 20px 30px 20px;
}
// .pad {
//   position: fixed;
// }
.user {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: $darkGray;
}
.userImg {
  width: 120px;
  height: 120px;
  border-radius: 99px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
  }
  svg {
    color: $darkGreen !important;
    font-size: 80px;
    align-self: center;
    // background-color: black;
  }
}
.userName,
.userEmail {
  font-size: 20px;
  margin-bottom: 25px;
}
.userEmail {
  margin-bottom: 30px;
  width: 150px;
  overflow-wrap: break-word;
}

.userList {
  border-top: 1px solid $lineGray;
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    li {
      margin: 18px;
      font-size: 20px;
      letter-spacing: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      cursor: pointer;
      svg {
        font-size: 25px;
        margin-right: 10px;
      }
    }
  }
  .logOut {
    border: none;
    border-top: 1px solid $lineGray;
    background-color: transparent;
    width: 100%;
    color: $darkGray;
    padding: 20px 0 10px 0;
    font-size: 20px;
    p {
      margin: 0px;
      letter-spacing: 10px;
      margin-left: 10px;
    }
  }
}

.profileRight {
  width: 80%;
  height: 80%;
  padding: 10px 70px 20px 70px;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.1);
  display: flex;
  flex-direction: column;
  background-color: white;
  color: $darkGray;
  .listTitle {
    font-size: 30px;
    margin: 20px 0 10px 20px;
    border-bottom: 1px solid $lineGray;
    padding-bottom: 15px;
    width: 95%;
    letter-spacing: 5px;
  }
  .travelNumber {
    font-size: 18px;
    margin: 20px 0 10px 20px;
    .travelNum {
      color: $darkGreen;
      padding: 3px;
    }
  }
}
.nowTravelList {
  width: 80%;
  display: flex;
  flex-flow: wrap;
  margin-top: 20px;
  flex: auto;
}
.nowTravelListDetail {
  max-width: 230px;
  width: 220px;
  height: 200px;
  margin: 10px 20px 15px 20px;
  flex: auto;
  border: 1px solid $gray;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  .travelTitle {
    text-align: center;
    font-size: 20px;
    background-color: $darkGreen;
    color: white;
    border-radius: 9px 9px 0 0;
    padding: 8px;
  }
  .travelDateAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 13px;
    svg {
      color: $darkGreen;
      // padding: 5px 8px 5px 8px;
      margin: 0 8px;
    }
  }
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: width 0.5s;
  }
  &:hover {
    border: none;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
    img {
      width: 105%;
    }
  }
}

///btn

@mixin userButtons() {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;

  button:active {
    outline: none;
    border: none;
  }
  button:focus {
    outline: 0;
  }
}

@mixin userProfileBtn($fontIcon) {
  width: 150px;
  height: 50px;
  background-color: white;
  margin: 20px;
  color: $darkGray;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: $darkGreen;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }

  &:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }

  &:after {
    left: 0;
    bottom: 0;
  }

  span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 0;
      background-color: $darkGreen;
      transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
    }

    &:before {
      right: 0;
      top: 0;
      transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
    }

    &:after {
      left: 0;
      bottom: 0;
    }
  }

  p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;

    &:before,
    &:after {
      position: absolute;
      width: 100%;
      transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
      z-index: 1;
      left: 0;
    }

    &:before {
      content: attr(data-title);
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      letter-spacing: 10px;
    }

    &:after {
      // content: attr(data-text);
      top: 150%;
      color: $darkGreen !important;
      font-family: "Font Awesome 5 Free";
      content: $fontIcon;
      font-weight: 900;
      font-size: 24px;
    }
  }

  &:hover {
    &:before,
    &:after {
      width: 100%;
    }

    span {
      z-index: 1;
      &:before,
      &:after {
        height: 100%;
      }
    }

    p {
      &:before {
        top: -50%;
        transform: rotate(5deg);
      }

      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@mixin userStart($fontText) {
  background-color: $darkGreen;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;

  p {
    &:before {
      top: -50%;
      transform: rotate(5deg);
    }
    &:after {
      color: white !important;
      transition: all 0s ease;
      top: 50%;
      transform: translateY(-50%);
      animation: start 0.3s ease;
      animation-fill-mode: forwards;

      font-family: "Font Awesome 5 Free";
      content: $fontText;
      font-weight: 900;
      font-size: 20px;

      @keyframes start {
        from {
          top: -50%;
        }
      }
    }
  }

  &:hover {
    &:before,
    &:after {
      display: none;
    }
    span {
      display: none;
    }
  }
}

.buttons1 {
  @include userButtons();
  button {
    @include userProfileBtn("\f561");
  }
  .start {
    @include userStart("\f561  旅行中");
  }
}
.buttons2 {
  @include userButtons();
  button {
    @include userProfileBtn("\f0f2");
  }
  .start {
    @include userStart("\f0f2  待出發");
  }
}
.buttons3 {
  @include userButtons();
  button {
    @include userProfileBtn("\f5ab");
  }
  .start {
    @include userStart("\f5ab  回憶錄");
  }
}
.buttonsLogout {
  border-top: 1px solid $lineGray;
  @include userButtons();
  button {
    @include userProfileBtn("\f2f5");
  }
  .start {
    @include userStart("Good Luck!");
  }
}
