$lightGray: rgba(245, 247, 249, 0.947);
$gray: rgb(175, 169, 169);
$darkGray: rgb(138, 134, 134);
$darkGreen: rgba(43, 92, 83, 0.796);
$lightGreen: rgba(201, 233, 227, 0.783);
$lineGray: rgb(235, 229, 229);
$searchBarGray: rgb(235, 236, 238);

a {
  text-decoration: none;
  cursor: pointer;
}

.scheduleNav {
  display: none;
}
.scheduleListAll {
  display: flex;
  margin: auto;
  width: 100%;
  min-height: 300px;
  height: 65vh;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.1);
}
.scheduleListDetail {
  display: flex;
  flex-flow: wrap;
  // flex-direction: row-reverse;
  margin: 60px auto;
  overflow: scroll;
  width: 788px;
}
.All {
  position: relative;
}
.tag {
  list-style: none;
  overflow: hidden;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: absolute;
  left: 8px;
  top: -2px;
  text-decoration: none;
  &:before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  &:after {
    background: #fff;
    border-bottom: 13px solid $darkGreen;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
  }
}
.scheduleList {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid $gray;
  border-radius: 10px;
  overflow: hidden;
  width: 220px;
  height: 200px;
  margin: 10px 20px 15px 20px;
  cursor: pointer;
  .scheduleTitle {
    text-align: center;
    font-size: 20px;
    background-color: $darkGreen;
    color: white;
    border-radius: 9px 9px 0 0;
    padding: 8px;
    width: 100%;
    margin: 0;
  }
  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 13px;
    color: $darkGray;
    svg {
      color: $darkGreen;
      padding: 0;
      margin: 0 10px;
    }
  }
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: width 0.5s;
  }
  &:hover {
    border: none;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
    img {
      width: 105%;
    }
  }
}

@mixin userListComponent($opacity, $width) {
  margin: 10px;
  font-size: 20px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
  padding: 10px 0 10px 0;

  &:before,
  &:after {
    position: absolute;
    opacity: $opacity;
    width: $width;
    height: 1px;
    content: "";
    background: $darkGreen;
    transition: all 0.3s;
    z-index: 100;
  }
  &:before {
    left: 0px;
    top: 0px;
  }
  &:after {
    right: 0px;
    bottom: 0px;
  }
  &:hover {
    &:after {
      opacity: 1;
      width: 100%;
    }
  }

  &:hover {
    &:before {
      opacity: 1;
      width: 100%;
    }
  }
}

.userList {
  color: $darkGray;
  border-right: 1px solid $lineGray;
  height: 440px;
  width: 172px;
  margin-top: 70px;

  /* Border X get width  */

  .border {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: -20px;
  }
}
.userListClick {
  @include userListComponent(1, 100%);
}
.userListUnclick {
  @include userListComponent(0, 0%);
}

.scheduleLayout {
  // padding-top: 90px;
  // margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $lightGray;
  height: 100vh;
  overflow: scroll;
}

.scheduleListRange {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 12%;
}

@mixin navComponent($background, $color) {
  background-color: $background;
  box-shadow: 0px -2px 3px 0 rgba(51, 51, 51, 0.3);
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 26px 30px;
  // border: 1px solid white;
  border-radius: 10px 10px 0 0;
  a {
    color: $color !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

.scheduleNavMain {
  z-index: 110;
  .Nav {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
  }
  .liClick {
    @include navComponent(white, $gray);
  }
  .liUnclick {
    @include navComponent($darkGray, white);
  }
}

.schedulePhoto {
  width: 100%;
}
.scheduleTitle {
  align-self: center;
  margin: 5px;
}
.date {
  font-size: 10px;
}
// .scheduleNav {
//   list-style: none;
//   display: flex;
//   margin-left: 0px;
// }

.scheduleDetail {
  border-style: inset;
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 120px;
  width: 200px;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 10px;
}
@mixin emptyComponent() {
  margin: auto;
  width: 180px;
  height: 100px;
  border: 1px dashed $gray;
  color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.emptyList {
  @include emptyComponent;
}
.emptyListHide {
  display: none;
  height: 0px;
  min-height: 0px;
  font-size: 0px;
  z-index: -1;
}

.scheduleAll {
  width: 100%;
  height: 100vh;
  display: flex;
  // border: 1px solid black;
}
.scheduleWithMap {
  width: 350px;
  margin-top: 383px;
  // height: calc(100% - 330px);
  overflow-y: scroll;
  z-index: 150;
}

.scheduleDateAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
  // margin-top: 90px;
}
.scheduleDateSelect {
  position: fixed;
  display: flex;
  top: 337px;
  left: 70px;
  width: 250px;
  z-index: 200;
  overflow-x: scroll;
  color: $darkGray;
  .scheduleDateTitle {
    position: fixed;
    top: 352px;
    left: 18px;
    color: white;
    background-color: $darkGray;
  }
  .scheduleDateDetail {
    // margin: 10px;
    display: inline-block;
    text-align: center;
    min-width: 35px;
    min-height: 20px;
    padding: 6px 10px;
    margin: 3px 10px 3px 5px;

    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27),
      0 0 40px rgba(0, 0, 0, 0.06) inset;
  }
  svg {
    position: fixed;
    top: 333px;
    left: 15px;
    color: $darkGray !important;
    font-size: 40px;
  }
}

.scheduleDateOnly {
  color: white;
  background-color: $darkGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin-left: -70px;
  // border-radius: 0 10px 10px 0;
  position: relative;
  // &:after {
  //   color: white;
  //   position: absolute;
  //   right: 0;
  //   bottom: 8px;
  //   margin: 1px 5px;
  //   font-weight: bold;
  //   font-size: 19px;
  //   content: "\00D7";
  // }
  &:before {
    position: absolute;
    content: "\25CF";
    color: $lightGray;
    text-shadow: 0 0 1px white;
    font-size: 11px;
    line-height: 0px;
    text-indent: -290px;
    left: 280px;
    width: 0px;
    // height: 10px;
    border-left: 40px solid $darkGreen;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
}
.scheduleDetailForDrop {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin switchBtnUnclick() {
  width: 150px;
  height: 70px;
  display: inline-block;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
  span {
    color: $darkGray;
    font-size: 20px;
    line-height: 70px;
  }
  &:hover {
    background-color: $darkGreen;
    span {
      color: white;
    }
    .t1 {
      border-bottom: 120px solid #fff;
      transition: all 0.5s;
    }
    .t2 {
      border-top: 80px solid #fff;
      transition: all 0.5s;
    }
  }
}
@mixin switchBtnClick() {
  width: 150px;
  height: 70px;
  display: inline-block;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
  background-color: $darkGreen;
  span {
    color: white !important;
  }
  .t1 {
    border-bottom: 120px solid #fff;
    transition: all 0.5s;
  }
  .t2 {
    border-top: 80px solid #fff;
    transition: all 0.5s;
  }
  span {
    color: $darkGray;
    font-size: 20px;
    line-height: 70px;
  }
}
.btn {
  @include switchBtnUnclick;
}
.btnClick {
  @include switchBtnClick;
}

@mixin switchBtnComponent($opacity, $width) {
  position: fixed;
  top: 75px;
  left: 350px;
  z-index: 150;
  opacity: $opacity;
  transition: opacity 1s;
  width: $width;
  overflow: hidden;

  .triangle {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .t1 {
    border-bottom: 0px solid #fff;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    bottom: 0;
    opacity: 0.3;
    transition: all 0.5s;
  }
  .t2 {
    border-top: 0px solid #fff;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    top: 0;
    opacity: 0.3;
    transition: all 0.5s;
  }
}

.switchBtn {
  @include switchBtnComponent(0, 0px);
}
.switchBtnClick {
  @include switchBtnComponent(1, 300px);
}

.schedule {
  z-index: 150;
  width: 350px;
  overflow-y: scroll;
  z-index: 200;
}

@mixin arrowBounceComponent($rotate) {
  font-size: 35px;
  position: absolute;
  right: 20px;
  top: -10px;
  transform: rotate($rotate);
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  margin: 8% 0;
  animation: bounce 2s 1;
  svg {
    color: white;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}

.scheduleListTopLeft {
  position: fixed;
  top: 75px;
  width: 350px;
  z-index: 200;

  div {
    position: relative;
    .arrowBounce {
      @include arrowBounceComponent(-180deg);
    }
    .arrowBounceRotate {
      @include arrowBounceComponent(0deg);
    }
    .scheduleLayer {
      position: absolute;
      background-color: $darkGray;
      opacity: 0.5;
      width: 350px;
      height: 80px;
      bottom: 4px;
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
  .scheduleTitle {
    z-index: 160;
    position: absolute;
    bottom: 45px;
    left: 30px;
    font-size: 20px;
    font-weight: 400;
    color: white;
  }
  .date {
    z-index: 160;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    .date2 {
      color: white;
    }
  }
}

// item

.item {
  // width: 195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $darkGray;
  background-color: white;
  color: $darkGray;
  border-radius: 10px;
  overflow: hidden;
  margin: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  position: relative;
}
.itemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $darkGray;
  color: $darkGray;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  margin: 6px;
  cursor: pointer;
  position: relative;
}
.itemPhoto {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.itemListDelete {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  display: none;
}
.itemLike {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: rgb(128, 128, 128);
  stroke-width: 2px;
  fill: rgb(255, 128, 191);
  fill-opacity: 1;
  cursor: pointer;
}
.searchLike {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: rgb(128, 128, 128);
  stroke-width: 2px;
  fill: rgb(255, 128, 191);
  fill-opacity: 1;
  cursor: pointer;
  display: none;
}

@mixin locationComponent($opacity, $width) {
  display: flex;
  opacity: $opacity;
  position: fixed;
  top: 0;
  left: 350px;
  width: $width;
  height: 100vh;
  background-color: $searchBarGray;
  transition: width 1s, opacity 1s;
}
.locationSection {
  @include locationComponent(0, 0px);
  transition: width 1s, opacity 1s;
  z-index: 1;
}
.locationSectionShow {
  @include locationComponent(1, 300px);
  z-index: 10;
  border: 1px solid white;
}

// .locationSection:global(#locationSection0) {
//   display: flex;
// }
.listShow {
  display: block;
}
.displayNone {
  display: none;
}

@mixin searchComponent($width) {
  position: fixed;
  top: 173px;
  left: 395px;
  width: $width;
  margin: 5px;
  background-color: $searchBarGray;
  z-index: 10;
  transition: width 1s, opacity 1s;
  color: $darkGray;
  overflow: visible;
}
.searchAll {
  @include searchComponent(70px);
}
.searchAllShow {
  @include searchComponent(200px);
}

@mixin searchListComponent($width) {
  background-color: $lightGray;
  margin-top: 320px;
  position: fixed;
  top: 0;
  left: 400px;
  width: $width;
  height: 65.5vh;
  overflow-y: scroll;
  border-style: inset;
  z-index: 5;
  transition: width 1s, opacity 1s;
}

.locationList {
  @include searchListComponent(70px);
  z-index: -5;
}
.locationListShow {
  @include searchListComponent(200px);
}

.locationDetail {
  z-index: 5;
}

@mixin likeListComponent($width) {
  display: block;
  position: fixed;
  top: 182px;
  left: 398px;
  width: $width;
  height: 78vh;
  overflow-y: scroll;
  border-style: inset;
  background-color: white;
  z-index: 100;
  background-color: $lightGray;
  transition: width 1s, opacity 1s;
}
.likeList {
  @include likeListComponent(70px);
}
.likeListShow {
  @include likeListComponent(200px);
}

//map

.scheduleMap {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 350px);
  margin-left: 350px;
  overflow: hidden;
  background-color: $darkGray;
}
.markerText {
  margin-top: 5px;
}

// select
.itemTraffic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: $darkGray;
  div {
    color: $darkGray;
    font-size: 17px;
  }
}
.itemTrafficHide {
  color: $lightGray;
  div {
    display: none;
  }
}
.trafficLength {
  color: $darkGray;
  font-size: 17px;
}
.trafficLengthHide {
  color: $lightGray;
}
.itemSelect {
  width: 70px;
  margin-right: 10px;
  svg {
    color: $darkGray !important;
  }
}

///Add Schedule

.scheduleListAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
  width: 100%;
  min-height: 600px;
  height: 65vh;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.1);
  position: relative;
}
.addSchedule {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.ml5 {
  margin-top: 5%;
  position: relative;
  font-weight: 300;
  font-size: 3em;
  color: $darkGray;
  display: flex;
  justify-content: center;
}
h2 {
  margin-block-start: -20px;
  margin-block-end: 0;
}

.ml5 .textWrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  width: 100%;
  background-color: $darkGray;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: $darkGreen;
}

.ml5 .lettersLeft,
.ml5 .ampersand,
.ml5 .lettersRight {
  display: inline-block;
  opacity: 0;
}
.DateRangePickerInput_clearDates {
  right: 20%;
}
.titleInput {
  margin: 9% auto 0 auto;
}
.dateInputAll {
  margin: 5% auto;
}
.titleInput,
.dateInputAll {
  border-bottom: 1px solid $darkGray;
  display: flex;
  width: 80%;
  font-size: 20px;
  button {
    width: 0%;
    display: none;

    svg {
      display: none;
    }
  }
  svg {
    color: $darkGray !important;
    margin: 15px;
  }

  input {
    color: $darkGray;
    border: none;
    width: 100%;
    font-size: 20px;
  }
  div {
    border: none;

    div {
      div {
        input {
          width: 150px;
          color: $darkGray;
          font-weight: 400;
          padding: 8px 7px;
        }
      }
    }
  }
}
.DateInput {
  width: 80px;
}
.inputSubmit {
  width: 80%;
}

//btn
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $darkGray;
  border: 1px solid $darkGray;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $darkGreen;
    color: #fff;
    border-bottom: 4px solid darken($darkGreen, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
  &:active {
    background-color: $darkGreen;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }
}

///star
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt;
}
.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

//Like component
@mixin likeComponent($fillColor, $opacity, $show) {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: rgb(128, 128, 128);
  stroke-width: 2px;
  fill: $fillColor;
  fill-opacity: $opacity;
  display: $show;
}
.redLike {
  @include likeComponent(rgb(255, 128, 191), 1, block);
}
.grayLike {
  @include likeComponent(rgb(255, 255, 255), 0.8, block);
}
.hideLike {
  @include likeComponent(rgb(255, 255, 255), 0.3, none);
}

@media (max-width: 450px) {
  //addSchedule
  .scheduleListRange {
    margin-top: 35%;
    width: 90%;
    .scheduleNavMain {
      .liClick,
      .liUnclick {
        padding: 8px;
        a {
          font-size: 16px;
        }
      }
    }
    .scheduleListAll {
      height: 75vh;
      flex-direction: column;
      .userList {
        margin-top: 30px;
        width: 100%;
        height: 40px;
        .border {
          flex-direction: row;
          justify-content: center;
          a {
            margin: 6px 15px;
            font-size: 16px;
          }
        }
      }
      .scheduleListDetail {
        margin: 0px auto;
        width: 100%;
        .All {
          .scheduleList {
            width: 140px;
            height: 125px;
            margin: 14px;
            .scheduleTitle {
              font-size: 10px;
              padding: 6px;
            }
            .date {
              font-size: 8px;
              margin: 6px;
              svg {
                margin: 0;
              }
            }
          }
        }
        .tag {
          top: 0px;
          font-size: 8px;
        }
      }
    }
  }
  .ml5 {
    font-size: 2em;
  }
  .titleInput,
  .dateInputAll {
    font-size: 15px;
    input {
      font-size: 15px;
    }
  }
  .titleInput,
  .dateInputAll {
    display: flex;
    width: 90%;
    margin-top: 60px;
    margin-bottom: -20px;
    svg {
      margin: 5px;
      font-size: 20px;
    }
    div {
      div {
        div {
          width: 70px;
          input {
            width: 100px;
            font-size: 15px;
            padding: 5px 7px;
          }
        }
      }
    }
  }

  //editSchedule
  .itemList,
  .item {
    font-size: 10px;
    .itemListDelete {
      display: block;
    }
    .empty-stars:before,
    .full-stars:before {
      content: "\2605\2605\2605\2605\2605";
      display: none;
    }
    .itemPhoto {
      height: 60px;
    }
  }
  .trafficLength {
    font-size: 10px;
    .itemTraffic {
      font-size: 10px;
      .itemSelect {
        width: 60px;
        div {
          min-height: 10px;
          height: 25px;
          div {
            div {
              padding-top: 0px;
              svg {
                width: 12px;
              }
            }
          }
        }
      }
    }
  }
  .scheduleWithMap {
    width: 24vh;
    margin-top: 242px;
    .schedule {
      width: 100%;
      .switchBtn {
        opacity: 1;
        top: 110px;
        left: 24vh;
        width: 48%;
        overflow: hidden;
        button {
          width: 50%;
          height: 40px;
          span {
            font-size: 14px;
            line-height: 40px;
          }
        }
      }
      .scheduleListTopLeft {
        width: 24vh;
        top: 110px;
        .arrowBounceRotate {
          display: none;
        }

        .schedulePhoto {
          height: 90px;
        }
        .scheduleTitle {
          font-size: 12px;
          bottom: 20px;
          left: 5px;
        }
        .date {
          font-size: 10px;
          bottom: 5px;
          right: 5px;
        }
        .scheduleLayer {
          width: 24vh;
          height: 40px;
        }
      }
      .scheduleDateAll {
        height: 38vh;
        .scheduleDateSelect {
          width: 18vh;
          overflow-x: scroll;
          top: 208px;
          left: 45px;
          svg {
            top: 205px;
            left: 10px;
            font-size: 28px;
          }
          .scheduleDateTitle {
            font-size: 10px;
            top: 217px;
            left: 12px;
          }
          .scheduleDateDetail {
            min-width: 25px;
            min-height: 15px;
            padding: 3px;
            margin: 0px 10px 3px 2px;
          }
        }
        .scheduleDetailForDrop {
          .scheduleDetail {
            width: 150px;
            min-height: 90px;
            .emptyList {
              width: 130px;
              height: 70px;
              font-size: 10px;
            }
          }

          .scheduleDateOnly {
            font-size: 12px;
            height: 25px;
            width: 24vh;
            margin-left: -56px;
            &:before {
              left: 24vh;
              border-left: 25px solid rgba(43, 92, 83, 0.796);
              border-top: 12px solid transparent;
              border-bottom: 13px solid transparent;
            }
          }
          .scheduleDetail {
            margin: 5px;
          }
        }
        .locationSection {
          left: 24vh;
          height: 68vh;
          display: flex;
          width: 19vh;
          opacity: 1;

          .listShow {
            .searchAll {
              top: 153px;
              left: 25vh;
              font-size: 12px;
              width: 19.5vh;
              .locationSearchDetail {
                display: none;
              }
            }
            .locationList {
              left: 25.8vh;
              top: -95px;
              height: 39vh;
              width: 19vh;
            }
            .likeList {
              left: 25.8vh;
              top: 165px;
              height: 46vh;
              width: 19vh;
            }
          }
        }
      }
    }
  }

  .scheduleMap {
    width: 100%;
    height: 32vh;
    top: 68vh;
    margin-left: 0px;
  }
}
