.scheduleListDetail {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 230px;
  height: 92vh;
  border: 1px solid black;
}
.scheduleList {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  width: 190px;
  cursor: pointer;
}
.scheduleLayout {
  display: flex;
  flex-direction: column;
}

.scheduleListRange {
  display: flex;
}

.schedulePhoto {
  width: 100%;
}
.scheduleTitle {
  align-self: center;
  margin: 5px;
}
.date {
  font-size: 10px;
}
.scheduleNav {
  list-style: none;
  display: flex;
  margin-left: 0px;
}
a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
}
.scheduleListAll {
  height: 180px;
}
.scheduleDetail {
  border: 1px solid rgb(240, 220, 185);
  background-color: rgb(240, 220, 185);
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100px;
  width: 200px;
  margin: 0px;
  margin-bottom: 20px;
}
.emptyList {
  margin: auto;
  color: rgb(255, 255, 255);
}

.scheduleAll {
  width: 230px;
  height: 92vh;
  overflow-y: scroll;
  border: 1px solid black;
}

.scheduleDateAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.scheduleDateOnly {
  border: 3px solid white;
  color: white;
  background-color: rgb(30, 121, 191);
}

// item

.item {
  width: 195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 6px;
  cursor: pointer;
}
.itemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  margin: 6px;
  cursor: pointer;
  position: relative;
}
.itemPhoto {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.itemListDelete {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  display: none;
}
.searchAll {
  position: fixed;
  top: 0;
  left: 250px;
  width: 200px;
  margin: 5px;
  background-color: white;
  z-index: 100;
}
.locationList {
  margin-top: 130px;
  position: fixed;
  top: 0;
  left: 240px;
  width: 230px;
  height: 83.9vh;
  overflow-y: scroll;
  border: 1px solid black;
}
